@use "../abstracts" as var;
@use "../utils";
@use "../global/headlines";
@use "../global/paragraphs";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden !important;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-family: var.$primaryFont;
  font-weight: normal;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  overflow-x: hidden;
}

h1 {
  @extend .hl-one;
}

h2 {
  @extend .hl-two;
}

h3 {
  @extend .hl-two;
}

h4 {
  @extend .hl-two;
}

h5 {
  @extend .hl-two;
}

h6 {
  @extend .hl-two;
}

p {
  @extend .p-one;
}

a {
  @extend .p-one;
  text-decoration: none;
  color: var.$primaryColor;
  font-weight: normal;
  transition: all 0.3s ease;
}

a:hover {
  color: var.$secondaryColor;
}

a:focus {
  outline: 0.4rem solid var.$tertiaryColor;
  transition: outline-width 0.35s ease-in-out;
}

span {
  font-size: 1em;
}

ul,
li {
  @extend .p-one;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.white-text {
  color: var.$whiteColor !important;
}

// .main-wrapper {
//   position: relative;
// }
