@use "../abstracts";
@use "../utils";

.headline-all {
  margin: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: abstracts.$blackColor;
  font-family: abstracts.$secondaryFont;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
}

.hl-one {
  @extend .headline-all;
  @include utils.font-sizer(3, 3.5, 76.8, 150, 3);
  line-height: 1.17;
}

.hl-two {
  @extend .headline-all;
  @include utils.font-sizer(2.6, 3.1, 76.8, 150, 2.6);
  line-height: 1.23;
}
