@use "../abstracts";
@use "../utils";

.paragraph-all {
  margin: 0;
  margin-bottom: 1.5em;
  color: abstracts.$blackColor;
  font-family: abstracts.$primaryFont;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.32;
}

.p-one,
.p1 {
  @include utils.font-sizer(2, 2.2, 76.8, 150, 2);
  @extend .paragraph-all;
  line-height: 1.32;
}

.p-two,
.p2 {
  @include utils.font-sizer(1.6, 1.8, 76.8, 150, 1.6);
  @extend .paragraph-all;
  line-height: 1.32;
}
