@use "../../styles/abstracts/" as *;

.who {
  background-color: #f2f4ea;

  &-wrapper {
    margin-top: 3.5rem;
  }

  &-content {
    width: 100%;

    @media (min-width: 768px) {
      width: calc(50% - 4.5rem);
      margin-right: 4.5rem;
    }

    &-title {
      width: 100%;
      margin-bottom: 4rem;

      h2 {
        color: $shadowColor;
      }
    }

    &-paragraphs {
      width: 100%;

      p {
        color: $shadowColor;

        &:first-of-type {
          margin: 0;
          text-transform: uppercase;
        }

        &:last-of-type {
          text-transform: uppercase;
        }
      }
    }
  }

  &-image {
    @media (min-width: 768px) {
      width: calc(50% - 4.5rem);
      margin-left: 4.5rem;
    }
  }
}
