$primaryColor: #fb6e52;
$secondaryColor: #64a56b;
$tertiaryColor: #ffcf55;
$accentColor: #42454a;
$shadowColor: #707070;
$blackColor: #000;
$whiteColor: #fff;
$creamColor: #f2f4ea;
$greyColor: #6c6d70;
$greyBrownColor: #403f3f;
