@use "../../styles/abstracts/" as *;

.cool-ways {
  padding: 6rem 0;

  &-title {
    width: 100%;
    margin-bottom: 5rem;
    text-align: center;

    h2 {
      color: $shadowColor;
    }
  }

  &-block {
    width: calc(33.333333% - 4.4rem);
    padding: 2rem;
    background-color: #f2f4ea;

    &.block-one {
      margin-right: 1.33rem;
    }

    &.block-two {
      margin-right: 0.66rem;
      margin-left: 0.66rem;
    }

    &.block-three {
      margin-left: 1.33rem;
    }

    p {
      color: #434343;

      &:first-of-type {
        text-transform: uppercase;
      }
    }
  }
}
