---
import Headline from "../shared/Headline.astro";
import Wrapper from "../shared/Wrapper.astro";
import "./coolWays.scss";
---

<div class="cool-ways">
  <Wrapper classes="cool-ways-wrapper">
    <div class="cool-ways-title">
      <Headline ele="h2" hlstyle="two">Cool ways to use this course…</Headline>
    </div>
    <div class="cool-ways-block block-one">
      <p>Go all in on your<br /> marketing planning:</p>
      <p>
        2026 can be the best one yet, but only if you invest the time to get
        excited about what lays ahead.
      </p>
    </div>
    <div class="cool-ways-block block-two">
      <p>Break free of excuses and<br /> get out of a marketing rut:</p>
      <p>
        Mix up your routine, immerse yourself in this exciting environment and
        approach.
      </p>
    </div>
    <div class="cool-ways-block block-three">
      <p>Dedicated time to execute<br /> and experiment:</p>
      <p>
        Kick-start your marketing in 2026 and be in a supportive environment
        where you can bounce ideas off others.
      </p>
    </div>
  </Wrapper>
</div>
