@use "../../styles/abstracts/" as *;

.pricing {
  background-color: $primaryColor;

  &-strip {
    width: 100%;
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 2rem;

    @media (min-width: 768px) {
      padding: 10rem 0;
    }
  }

  &-image {
    width: calc(100%);
    margin-right: 0;
    margin-left: 0;

    @media (min-width: 768px) {
      width: calc(40%);
      margin-right: 0;
      margin-left: 0;
    }
  }

  &-content {
    position: relative;
    width: calc(100%);
    max-width: 60rem;
    margin-top: 2.5rem;

    @media (min-width: 768px) {
      width: calc(60% - 6rem);
      margin-top: 0;
      margin-right: auto;
      margin-left: 6rem;
    }

    &-intro {
      width: 100%;
      p {
        color: $whiteColor;
      }
    }

    &-pricing {
      width: 100%;
      max-width: 40rem;

      p {
        color: $whiteColor;
      }
    }

    &-book {
      width: 100%;
      p {
        color: $whiteColor;
      }
    }

    &-icon {
      position: absolute;
      top: 50%;
      right: 0;
      width: calc(14.1rem / 1.75);
      height: calc(17.1rem / 1.75);

      @media (min-width: 768px) {
        top: 45%;
        width: 14.1rem;
        height: 17.1rem;
      }
    }
  }
}
