---
import Headline from "../shared/Headline.astro";
import Paragraph from "../shared/Paragraph.astro";
import Wrapper from "../shared/Wrapper.astro";
import "./expect.scss";
---

<div class="expect">
  <Wrapper>
    <div class="expect-left">
      <div class="expect-left-title">
        <Headline ele="h2" hlstyle="two">Here’s what you can expect…</Headline>
      </div>
      <div class="expect-left-content">
        <Paragraph>
          These four guiding directions are the heart of our workshops,
          providing in-depth development in the following areas…
        </Paragraph>
        <Paragraph>
          WORKSHOP 1: Storytelling Perspective - Your Unique Selling
          Proposition. Dive into the art of storytelling to craft a compelling
          narrative that sets your business apart.
        </Paragraph>
        <Paragraph>
          WORKSHOP 2: Problem-Solving - Meeting Your Customers’ Needs. Explore
          the problems you solve for your customers, a key element in creating
          impactful marketing campaigns.
        </Paragraph>
        <Paragraph>
          WORKSHOP 3: Audience Deep Dive - Crafting Personas. Get to know your
          target audience on a personal level. Develop detailed personas to
          effectively connect with the right customers.
        </Paragraph>
        <Paragraph>
          WORKSHOP 4: Marketing Theme and Campaign Development. Learn how to
          shape your marketing theme and develop campaigns that resonate with
          your audience
        </Paragraph>
      </div>
    </div>
    <div class="expect-right">
      <div class="expect-right-content content-top">
        <p>Receive Practical Insights</p>
        <Paragraph>
          We don’t just delve into theory; we provide you with practical and
          applicable marketing knowledge that you can put into action
          immediately, and in the future.
        </Paragraph>
      </div>
      <div class="expect-right-content">
        <p>One-on-One Support</p>
        <Paragraph>
          There will be time in each workshop to make notes, ask questions and
          receive one-on-one support. The small class size allows for these
          discussions to help maximize your understanding. The group atmosphere
          also allows you to connect with others and hear their stories.
        </Paragraph>
      </div>
    </div>
  </Wrapper>
</div>
