@use "../../styles/abstracts/" as *;

.expect {
  padding: 4rem 0;

  &-left {
    width: calc(60%);
    padding: 4rem 5rem 2rem 0;

    &-title {
      margin-bottom: 4.5rem;

      h2 {
        color: $shadowColor;
      }
    }

    &-content {
      p {
        color: $shadowColor;
      }
    }
  }

  &-right {
    width: calc(40%);
    padding: 2rem;

    &-content {
      p {
        color: $shadowColor;
        margin: 0;

        &:first-of-type {
          text-transform: uppercase;
        }
      }

      &.content-top {
        margin-top: 11.5rem;
        margin-bottom: 4rem;
      }
    }
  }
}
