---
import Headline from "../shared/Headline.astro";
import Wrapper from "../shared/Wrapper.astro";
import "./feedback.scss";
---

<div class="testimonials">
  <Wrapper classes="testimonials-wrapper">
    <div class="testimonials-title">
      <Headline hlstyle="two" ele="h2">Feedback from Past Participants</Headline
      >
    </div>
    <div class="testimonials-containers">
      <div class="testimonials-quote">
        <p>
          “When I first signed up for Suzy’s Marketing Compass workshop, I
          remember thinking, “I already have a pretty good handle on marketing
          and my target audience” and wasn’t sure how much I would learn. But
          Suzy has this incredible way of making you realize there’s so much
          more to uncover about your brand, your audience, and how you
          communicate your story. The course was eye opening and got me excited
          to take what I learned and apply it to my business.
        </p>
        <p>
          It completely elevated the way I approach my marketing. She also
          helped us come up with campaign ideas that were specific and
          actionable for our individual businesses- real strategies I still use
          today. Suzy has a gift for making marketing feel approachable, clear,
          and actually fun.”
        </p>
        <p>-Shala, Small Business Owner</p>
      </div>
      <div class="testimonials-quote">
        <p>
          “Taking The Marketing Compass Workshop was a great experience. It
          pushed me to slow down and dive deeper into my marketing challenges,
          helping me focus on my customers’ core problems and find meaningful
          ways to connect with them. By the end, I had a clear campaign outline
          and ideas for future campaigns.
        </p>
        <p>
          What made the experience even better was Suzy’s genuine care and
          dedication. It’s clear she’s truly passionate about helping businesses
          succeed. I also love that Switchback Creative is a local company run
          by real people who live in and serve our community. They truly
          understand the unique needs of local businesses and are genuinely
          invested in helping them thrive.
        </p>
        <p>
          If you’re ready to take control of your marketing, gain deeper insight
          into your business and uncover the tools and confidence to effectively
          market to your audience, check out Switchback Creative’s Marketing
          Compass Workshop.”
        </p>
        <p>- Danielle, Small Business Owner</p>
      </div>
    </div>
  </Wrapper>
</div>
