@use "../../styles/abstracts/" as *;

.mc-intro {
  margin-top: -5rem;
  &-left {
    width: calc(60%);
    padding: 4rem 5rem 2rem 0;

    &-title {
      width: 100%;
      margin-top: 15rem;
      margin-bottom: 6rem;

      h2,
      h3 {
        color: $shadowColor;
        margin: 0;
      }
    }

    &-content {
      width: 100%;

      p {
        color: $shadowColor;
      }
    }
  }

  &-right {
    width: calc(40%);
    padding: 2rem;

    &-image {
      width: 100%;
      margin-bottom: 4rem;
    }

    &-dates {
      width: 100%;

      h3,
      p {
        color: $shadowColor;
        margin: 0;
      }

      &-block {
        margin-bottom: 4rem;
      }
    }
  }
}
