---
import { Image } from "astro:assets";
import saveYourSeat from "../../assets/save-your-seat.png";
---

<div class="sys-icon">
  <div class="sys-icon-wrapper">
    <Image
      src={saveYourSeat}
      alt={"Save your seat"}
      width={saveYourSeat.width}
      height={saveYourSeat.height}
    />
  </div>
</div>
