@use "../../styles/abstracts/" as *;

.suzy {
  padding: 5rem 0;
  background-color: $secondaryColor;

  &-images {
    width: calc(20%);

    &-image {
      &.image-bio {
        margin-bottom: 4rem;
      }

      &.image-swb,
      &.image-rab {
        width: 17.1rem;
        margin-bottom: 1.5rem;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &-content {
    width: calc(80% - 3rem);
    margin-left: 3rem;

    &-title {
      width: 100%;

      h2 {
        color: $whiteColor;
      }
    }

    &-bio {
      width: 100%;

      p {
        color: $whiteColor;
      }
    }
  }
}
