@use "../styles/global/paragraphs";

.footer {
  padding: 5rem 0;
  &-small {
    width: 100%;
    max-width: 92rem;

    h2 {
      @extend .p-two;
      margin: 0;
      opacity: 0.5;
      text-transform: uppercase;
    }

    p {
      opacity: 0.5;
    }
  }
}
