@use "../styles/abstracts/" as *;

.main-header {
  &-logo {
    position: relative;
    width: 41.96rem;
    height: 17.64rem;
    padding: 0;
    overflow: hidden;

    @media (min-width: 1025px) {
    }

    @media (min-width: 1150px) {
    }

    @media (min-width: 1250px) {
    }

    a {
      display: block;
      margin: auto;
    }

    h1 {
      margin: 0;

      span {
        position: absolute;
        left: -999%;
      }
    }
  }
}
