@use "../styles/abstracts/" as *;

.main-header {
  &-left {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: calc(60%);

    &-logo {
      position: relative;
      width: 41.96rem;
      height: 17.64rem;
      padding: 0;
      overflow: hidden;

      @media (min-width: 1025px) {
      }

      @media (min-width: 1150px) {
      }

      @media (min-width: 1250px) {
      }

      a {
        display: block;
        margin: auto;
      }

      h1 {
        margin: 0;

        span {
          position: absolute;
          left: -999%;
        }
      }
    }

    &-sys-icon {
      width: 15.59rem;
      height: 12.21rem;
      margin-right: 7.5rem;
      overflow: hidden;
    }
  }

  &-right {
    width: calc(40%);

    h2 {
      color: #345437;
      font-weight: 500;
      text-align: center;
    }
  }
}
