---
// 1️⃣ Imports
// Import Components
import Header from "./Header.astro";
import Footer from "./Footer.astro";
// Import Fonts
import "@fontsource/barlow/400.css";
import "@fontsource/barlow/500.css";
import "@fontsource/barlow/800.css";
// Import Global Styles
import "../styles/styles.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Marketing Compass Roadmap Workshops</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
