@use "../../styles/abstracts/" as *;

.book {
  background-color: $primaryColor;

  &-logo {
    width: 100%;
    max-width: 28.5rem;
  }

  &-title {
    width: 100%;
    margin-top: 4rem;
    text-align: center;

    h2 {
      color: $whiteColor;
    }
  }

  &-content {
    width: 100%;
    max-width: 100rem;
    text-align: center;

    p {
      color: $whiteColor;
    }
  }

  &-button {
    width: 100%;
    text-align: center;
  }
}
